/deep/html {
  height: 100%;
  background-image: linear-gradient(black, #263238);
}

h1,
h2,
h3,
p {
  color: #00acc1;
}

h1,
h2 {
  font-variant: small-caps;
}
.main-container {
  margin: auto;
  width: 85%;
  text-align: center;
}
