<div class="main-container">
  <h1>Lintukoto</h1>
  <img class="big-cover-image" src="../../assets/pskuva.png" alt="" />
  <ngb-carousel>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/kirjautumissivushot.png"
          alt="Random first slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>First slide label</h3>
        <p>Nulla vitae elit libero, a pharetra augue mollis interdum.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/kalenteri.png.png"
          alt="Random second slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Second slide label</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/aktiiviset.png.png"
          alt="Random third slide"
        />
      </div>
      <div class="carousel-caption">
        <h3>Third slide label</h3>
        <p>Praesent commodo cursus magna, vel scelerisque nisl consectetur.</p>
      </div>
    </ng-template>
  </ngb-carousel>
  <h2>Teknologiat</h2>
  <div class="tech-images-holder">
    <img class="tech-logo" src="../../assets/angular.png" alt="" />
    <img
      class="tech-logo"
      src="../../assets/nodejs-new-pantone-white.png"
      alt=""
    />
    <h3 id="express">express</h3>
    <img class="tech-logo" src="../../assets/MongoDark.png" alt="" />
    <div>
      <img class="tech-logo2" src="../../assets/ngbootstrap.png" alt="" />
      <img class="tech-logo2" src="../../assets/bootstrap-solid.svg" alt="" />
      <img class="tech-logo3" src="../../assets/mongoose2.png" alt="" />
    </div>
  </div>
  <h2>Yleistä projektista</h2>
  <p>
    Lintukoto projektin tavoitteena oli luoda sovellus helpottamaan
    opiskelijoiden arkea tarjoamalla työkaluja ajanhallintaan. Fyysisten
    toteutettavien tavoitteiden lisäksi projektin oppimistavoitteena oli oppia
    SCRUM käytänteitä, sekä projektin hallintaa ja ryhmätyötaitoja. Lisäksi
    koodareiden oppimistavoitteena oli syventää osaamista Angular, MongoDB,
    NodeJS ja Express teknologioissa. Mielestäni näissä tavoitteissa
    onnistuttiin hyivn. Tämä oli myös meille kaikille ensimmäinen isompi web-
    projekti ja ensimmäinen projekti, jossa työskenteltiin mainituilla
    teknologioilla.
  </p>

  <h2>Oma rooli</h2>
  <p>
    Itse toimin projektissa päätoimisena koodarina. Olin mukana tekemässä
    päätökisä teknologia valintojen suhteen ja vastasin koko backendin
    toteutuksesta. Lisäksi tein myös frontendin niihin toimimintoihin, jotka
    vaativat yhteyttä tietokantaan. Tein myös projektin ensimmäiset pari viikkoa
    pelkkää front endiä. Seuraavassa listassa on muutamia toiminnallisuuksia,
    joita koodasin projektiin.
  </p>
  <div style="width: 80%; display: block; margin: 0 auto;">
    <ul>
      <li>Sisäänkirjautuminen, rekisteröityminen ja autenktikaatio</li>
      <li>Kalenterimerkintöjen tallentuminen kantaan ja hakeminen kannsta</li>
      <li>Muistiinpanojen tallentaminen, muokkaus, ja poisto</li>
      <li>Tehtävien tallentaminen ja hakeminen</li>
      <li>Tietokantarakenteen suunnittelu ja toteutus</li>
    </ul>
  </div>
  <h2>Mitä opin?</h2>
  <p>Lorem ipsum dolor sit.</p>
  <h2>Mitä parannettavaa jäi?</h2>
  <p>
    Tiedostojen rakenne ja nimeämiset olisi voinut tehdä selkeämmäksi. Esim. CSS
    tiedostoissa ei tällä hetkellä ole juurikaan loogista rakennetta. Niihin
    asiat olisi voinut järjestellä selkeämmin.
  </p>
  <h2>Tarkempi katsaus tekemiini toiminnallisuuksiin</h2>
  <h3>Autenktikaatio</h3>

  <video width="80%" controls>
    <source src="../../assets/sisaankirjautuminenaut.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>

  <h3>Kalenterimerkintöjen tallennus kantaan</h3>
  <h3>Muistiinpanojen muokkaus</h3>
  <p>Lorem ipsum dolor sit.</p>
</div>
