/deep/ html body {
  height: auto !important;
  min-height: 100% !important;
  background-image: linear-gradient(black, #263238) !important;
}
/deep/ .carousel-control-next-icon {
  color: blue !important;
}

ngb-carousel {
  margin-top: 0.8em;
}

a {
  color: whitesmoke;
}
a:hover {
  color: #00acc1;
  text-decoration: none;
}

::ng-deep .carousel-indicators li {
  background-color: black;
}

h1,
p {
  color: #00acc1;
}
h2 {
  margin-top: 1.6em;
  margin-bottom: 0.2em;
}

h1,
h2 {
  font-variant: small-caps;
}
h2,
h3,
h4,
h5 {
  color: whitesmoke;
}
.main-container {
  margin: auto;
  width: 85%;
  text-align: center;
}
.big-cover-image {
  width: 100%;
}

.picsum-img-wrapper {
  width: 75%;
  margin: 0 auto;
}

:focus {
  outline: 0 !important;
}

.tech-logo {
  display: inline-block;
  height: 100%;
  width: 100px;
  vertical-align: middle;
  margin: 0 0.5em;
}

.tech-logo2 {
  display: inline-block;
  height: 100%;
  width: 40px;
  vertical-align: middle;
  margin: 0 0.5em;
}
.tech-logo3 {
  display: inline-block;
  height: 100%;
  width: 120px;
  vertical-align: middle;
  margin: 0 0.5em;
}

.tech-images-holder {
  display: block;
  height: 100%;
  width: 97%;
  margin: 0 auto;
}
#express {
  color: white;
  font-family: "Roboto", sans-serif;
  font-style: thin 100;
  font-size: xx-large;
  display: inline-block;
  margin: 0 0.4em;
}
ul {
  display: block;
  width: 60%;
  text-align: left;
  margin: 0 auto;
}
li {
  list-style: disc;
  color: #00acc1;
  margin: 0 auto;
  width: 100%;
}
.otsikkologo {
  height: 50px;
  padding-left: 0.3em;
}

.otsikkologo2 {
  height: 80px;
}

.angular {
  width: 75%;
  text-align: center;
  margin: 1em auto;
  display: flex;
  text-align: center;
}

.osaamislista {
  text-align: center;
  width: 100%;
  padding: 0;
}
.osaamisdiv {
  display: inline;
  padding: 2em;
  margin: 1em auto;
  border-radius: 25px;
  box-shadow: inset 0 0 30px grey;
}

.osaamislista li {
  list-style-type: none;
}

::selection {
  background: #1d7382; /* WebKit/Blink Selaimet */
}
::-moz-selection {
  background: #1d7382; /* Gecko Selaimet */
}

@media (max-width: 845px) {
  ul {
    width: 90%;
  }
}
@media (max-width: 415px) {
  .picsum-img-wrapper {
    width: 100%;
  }
  .big-cover-image {
    width: 100%;
  }
  video {
    width: 100%;
  }
  .angular {
    display: block;
  }

  .osaamisdiv {
    display: block !important;
    width: 88%;
  }
}
