<div class="main-container">
  <h1>Lintukoto</h1>
  <ngb-carousel [interval]="20000">
    <p style="display: none;" ngbAutofocus>lol</p>
    <ng-template ngbSlide>
      <p style="display: none;" ngbAutofocus>lol</p>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/kirjautumissivushot.png"
          alt="Random first slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/kalenteri.png"
          alt="Random second slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/aktiiviset.png"
          alt="Random third slide"
        />
      </div>
    </ng-template>
    <ng-template ngbSlide>
      <div class="picsum-img-wrapper">
        <img
          class="big-cover-image"
          src="../../assets/suoritetut.png"
          alt="Random third slide"
        />
      </div>
    </ng-template>
  </ngb-carousel>
  <h2>Teknologiat</h2>
  <div class="tech-images-holder">
    <img class="tech-logo" src="../../assets/angular.png" alt="" />
    <img
      class="tech-logo"
      src="../../assets/nodejs-new-pantone-white.png"
      alt=""
    />
    <h3 id="express">express</h3>
    <img class="tech-logo" src="../../assets/MongoDark.png" alt="" />
    <div>
      <img class="tech-logo2" src="../../assets/ngbootstrap.png" alt="" />
      <img class="tech-logo2" src="../../assets/bootstrap-solid.svg" alt="" />
      <img class="tech-logo3" src="../../assets/mongoose2.png" alt="" />
    </div>
  </div>
  <h2>Yleistä projektista</h2>
  <p>
    Lintukoto projektin tavoitteena oli luoda sovellus helpottamaan
    opiskelijoiden arkea tarjoamalla työkaluja ajanhallintaan. Fyysisten
    toteutettavien tavoitteiden lisäksi projektin oppimistavoitteena oli oppia
    SCRUM käytänteitä, sekä projektin hallintaa ja ryhmätyötaitoja. Lisäksi
    omana oppimistavoitteenani oli syventää osaamista Angular, MongoDB, NodeJS
    ja Express teknologioissa. Mielestäni näissä tavoitteissa onnistuttiin
    hyivn. Tämä oli myös meille kaikille ensimmäinen isompi web- projekti ja
    ensimmäinen projekti, jossa työskenteltiin mainituilla teknologioilla.
  </p>

  <h2>Oma rooli</h2>
  <p>
    Itse toimin projektissa päätoimisena koodarina. Olin mukana tekemässä
    päätöksiä teknologia valintojen suhteen ja vastasin koko backendin
    toteutuksesta. Lisäksi tein myös frontendin niihin toimimintoihin, jotka
    vaativat yhteyttä tietokantaan. Tein myös projektin ensimmäiset pari viikkoa
    pelkkää front endiä. Seuraavassa listassa on muutamia toiminnallisuuksia,
    joita koodasin projektiin.
  </p>
  <div style="width: 100%; display: block; margin: 0 auto;">
    <ul>
      <li>Sisäänkirjautuminen, rekisteröityminen ja autenktikaatio</li>
      <li>Kalenterimerkintöjen tallentuminen kantaan ja hakeminen kannsta</li>
      <li>Muistiinpanojen tallentaminen, muokkaus, ja poisto</li>
      <li>Tehtävien tallentaminen ja hakeminen</li>
      <li>Tietokantarakenteen suunnittelu ja toteutus</li>
    </ul>
  </div>
  <h2>Mitä opin?</h2>
  <ul>
    <li>Työskentely produktiossa</li>
    <ul>
      <li>Etätyöskentely</li>
    </ul>
    <li>Teknologiat</li>
    <ul>
      <li>Angular</li>
      <li>Nodejs/Express</li>
      <li>MongoDB</li>
      <li>Syncfusion Angular scheduler</li>
    </ul>
  </ul>
  <h2>Mitä parannettavaa jäi?</h2>
  <p>
    Tiedostojen rakenne ja nimeämiset olisi voinut tehdä selkeämmäksi. Esim. CSS
    tiedostoissa ei tällä hetkellä ole juurikaan loogista rakennetta. Niihin
    asiat olisi voinut järjestellä selkeämmin.
  </p>
  <h2>Tarkempi katsaus tekemiini toiminnallisuuksiin</h2>
  <h3>Autenktikaatio</h3>

  <video width="75%" controls>
    <source src="../../assets/sisaankirjautuminenaut.mp4" type="video/mp4" />
    Your browser does not support HTML5 video.
  </video>

  <h3>Kalenterimerkintöjen tallennus kantaan</h3>
  <h3>Muistiinpanojen muokkaus</h3>
  <p>Lorem ipsum dolor sit.</p>
</div>
