<div class="main-container">
  <h1>Lintukoto</h1>
  <img class="big-cover-image" src="../../assets/pskuva.png" alt="" />
  <h2>Yleistä projektista</h2>
  <p>
    Lintukoto projektin tavoitteena oli luoda sovellus helpottamaan
    opiskelijoiden arkea tarjoamalla työkaluja ajanhallintaan.
  </p>

  <h2>Oma rooli</h2>
  <p>
    Itse toimin projektissa päätoimisena koodarina. Olin mukana tekemässä
    päätökisä teknologia valintojen suhteen.
  </p>
  <h2>Mitä opin?</h2>
  <p>Lorem ipsum dolor sit.</p>
</div>
