<div class="top-container">
  <h1>Projektit</h1>
  <h2>Projekteja, joissa olen ollut mukana</h2>
  <div class="image-container" [routerLink]="['/picstocker']">
    <img class="project-img" src="../../assets/logo.png" alt="" />
    <div class="project-info">
      <h3>Picstocker</h3>
      <p>
        Web sovellus, jossa käyttäjät voivat lisätä kuvia, joita muut voivat
        ladata.
      </p>

      <img class="tech-logo" src="../../assets/angular.png" alt="" />
      <img class="tech-logo" src="../../assets/nodejs.png" alt="" />
      <img class="tech-logo" src="../../assets/express.png" alt="" />
      <img class="tech-logo" src="../../assets/mongodb.png" alt="" />
    </div>
  </div>
  <div class="image-container" [routerLink]="['/lintukoto']">
    <img
      id="lintukoto"
      class="project-img"
      src="../../assets/LOGO_ilman_taustaa.png"
      alt=""
    />
    <div class="project-info">
      <h3>Lintukoto</h3>
      <p>
        Opiskelijoiden ajanhallintaa ja elämänhallintaa tukeva web-sovellus.
      </p>

      <img class="tech-logo" src="../../assets/angular.png" alt="" />
      <img class="tech-logo" src="../../assets/nodejs.png" alt="" />
      <img class="tech-logo" src="../../assets/express.png" alt="" />
      <img class="tech-logo" src="../../assets/mongodb.png" alt="" />
    </div>
  </div>
</div>
