<div class="top-container">
  <h1>Kurssit</h1>
  <h2>Suoritettuja kursseja..</h2>
  <a href="https://certificates.mooc.fi/validate/j6q9fb3i04">
    <div class="image-container">
      <img class="project-img" src="{{ url }}assets/EOAIhero.png" alt="" />
      <div class="project-info">
        <h3>Elements of AI</h3>
        <p>
          Helsingin yliopiston ja reaktorin järjestämä verkkokurssi tekoälyn
          perusteisiin.
        </p>

        <img class="tech-logo" src="{{ url }}assets/helsinkiuni.png" alt="" />
      </div>
    </div>
  </a>
  <div class="image-container" [routerLink]="['/lintukoto']">
    <img
      id="lintukoto"
      class="project-img"
      src="{{ url }}assets/Angular-8.jpg"
      alt=""
    />
    <div class="project-info">
      <h3 id="angu">Angular 9 - The Complete quide</h3>
      <p>
        Maximillian Shwarzmullerin udemy kurssi angularin perusteisiin.
      </p>

      <img class="tech-logo" src="{{ url }}assets/udemy.png" alt="" />
    </div>
  </div>
</div>
