<div class="main-container">
  <h1>Henri Parviainen</h1>
  <h2>&lt; Web Developer &gt;</h2>
  <img class="circle" src="../../assets/22.jpg" alt="" />
  <div style="text-align: center; padding: 1em;">
    <div>
      <i class="fas fa-graduation-cap fa-2x"></i>
      <div class="para">
        JAMK Tietojenkäsittely 2.vuoden opiskelija
      </div>
    </div>
    <div>
      <i class="fas fa-map-marker-alt fa-2x"></i>
      <div class="para">
        Jyväskylä, Suomi
      </div>
    </div>
    <div class="profile-row">
      <i class="fas fa-laptop-code fa-2x"></i>
      <div class="para">
        HTML // CSS // Javascript <br />
        Angular // Express // Nodejs // MongoDB
      </div>
    </div>
    <div>
      <i class="fas fa-at fa-2x"></i>
      <div class="para">
        henri.parviainen@icloud.com
      </div>
    </div>
    <a href="https://github.com/henripar">
      <i class="fab fa-github fa-2x social-icon"></i>
    </a>
    <a href="https://www.linkedin.com/in/henri-parviainen-b79044176">
      <i class="fab fa-linkedin-in fa-2x small-gap social-icon"></i>
    </a>
  </div>
</div>
