/deep/html body {
  height: auto;
  min-height: 100%;
  background-image: linear-gradient(black, #263238);
}
h1,
h2,
h3 {
  font-variant: small-caps;
  color: #00acc1;
}
h1 {
  padding-top: 0.6em;
}
div {
  color: #00acc1;
}
img {
  width: 230px;
}

.circle {
  border-radius: 50%;
}
.main-container {
  width: 70%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 2em;
  min-height: 100vh;
}

i {
  color: #00acc1;
}
.para {
  position: relative;
  display: inline-block;
  margin: auto;
  padding: 1em;
  vertical-align: middle;
  bottom: 0.5em;
}

.small-gap {
  padding-left: 1em;
}
.social-icon:hover {
  color: whitesmoke;
}
.social-icon {
  cursor: pointer;
}
.profile-row {
  width: 100%;
}

@media (max-width: 390px) {
  .main-container {
    width: 90%;
  }
  .fas {
    display: block;
  }
}
